<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>数あてゲーム</title>
<style>
th, td {
	border: solid 1px;
}

table {
	border-collapse: collapse;
}
</style>
</head>
<body>
  <h1>数あてゲーム</h1>
  <form action="/challenge" method="post">
    <p>
      <input type="text" name="number" placeholder="いくつでしょう？">
    </p>
    <p>
      <input type="submit" value="トライ！">
    </p>
  </form>
  <hr>
  <table>
    <tr>
      <th>回数</th>
      <th>あなたの答え</th>
      <th>判定</th>
    </tr>
    <tr th:each="h:${histories}">
      <td>[[${h.seq}]]</td>
      <td>[[${h.yourAnswer}]]</td>
      <td>[[${h.result}]]</td>
    </tr>
  </table>
  <p>
    <a href="/">もう一度最初から</a>
  </p>
</body>
</html>